body{
    background-image: url("../images/piz2.jpeg");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
}
.col{
    margin-top: 20%;
    border: 10px light black;
    padding-top: 30px;
    text-align: center;
    background-color: burlywood;
    width: 100px;
}
img{
    width: 300px;
    height: 180px;
    margin-left: 60px;
   
}

#order{
    background-color: rgb(5, 14, 134);
    border: 1px solid brown;
    text-align: center;
    color: red;
}
#address{
    background-color: darkslateblue;
    color: aliceblue;
    text-align: left;
    padding: 5px;
}
#quantity{
    border-radius: 50%;
    height: 50px;
    width: 60px;
}
#quantity1{
 border-radius: 50%;
    height: 50px;
    width: 60px;
}
#quantity2{
  border-radius: 50%;
    height: 50px;
    width: 60px;  
}
#Size{
    border-radius: 50%;
    height: 50px;
    background-color: white;

}
#hide2{
    display: none;
    color: rgb(216, 68, 230);
   
}
#hide3{
    display: none;
    color: rgb(216, 68, 230); 
}
#hide3{
    display: none;
    color: rgb(216, 68, 230); 
}
#Size3{
    border-radius: 50%;
    height: 50px;
    background-color: white;

}
#Topping3{
    border-radius: 50%;
    height: 50px;
    background-color: white;
}
#crust3{
    border-radius: 50%;
    height: 50px;
    background-color: white;
    width: 100px;
}
#an{
    background-color: blue;
    color: white;
}
#Size1{
    border-radius: 50%;
    height: 50px;
    background-color: white;
}
#Topping{
    border-radius: 50%;
    height: 50px;
    background-color: white;
    
}